  {% section "page-custom-jose-garcia-antonio" %}

<div>
  
  <center>
    <h1<h1 style=font-size:20px>
Our collection of José Garcia has sold out,<br> but we encourage you to continue supporting José Garcia Antonio.
<br>
    011 52 1 (951) 539-6473<br>011 52 1 (951) 422-3371</br>
  <br>Visit his Oaxaca Workshop:<br>Calle Libertad num 24<br>San Antonino Castillo Velasco Oaxaca</br>
</h1></center></div>
  