{% section "page-custom-gorky" %}
{% section "embedded-collection" %}

<section>
  <div class="text-center">
    <h1 style=font-size:20px>We encourage you to continue supporting Gorky Gonzalez.</h1>
    <p>
      <a href="https://gorkypottery.com/index.php" target="_blank">GORKYPOTTERY.COM</a>
      <br><a href="mailto:GORKY@GORKYPOTTERY.COM">GORKY@GORKYPOTTERY.COM</a>
    </p>
  </div>
</section>
  