/* See https://www.algolia.com/doc/integration/shopify/advanced-customization/customizing-instant-search/#hogan */

(function(algolia) {
  'use strict';
  var Hogan = algolia.externals.Hogan;

  var formatPrice = function formatPrice(value) {
    return algolia.formatMoney(Number(value) * 100);
  };

  function formattedPriceWithComparison(price, compare_at_price, price_ratio) {
    var comparing =
      Number(compare_at_price) && Number(compare_at_price) > Number(price);
    var discount_ratio = 1.0 - price_ratio;
    var res = '<b>' + (comparing?'<span class="ais-hit--price-discounted">':'') + formatPrice(price) + (comparing?'</span>':'') + '</b>';
    if (comparing) {
      res +=
        ' <span class="ais-hit--price-striked"><span>' +
        formatPrice(compare_at_price) +
        '</span></span> ';
      res +=
        ' <span class="ais-hit--price-discount" style="font-weight: ' +
        Math.floor(discount_ratio * 10) * 100 +
        ';">-' +
        Math.floor(discount_ratio * 100) +
        '%</span>';
    }

    return res;
  }

  var escapeHtml = function escapeHtml(unsafe) {
    return (unsafe || '')
      .replace(/&/g, '&amp;')
      .replace(/</g, '&lt;')
      .replace(/>/g, '&gt;')
      .replace(/"/g, '&quot;')
      .replace(/'/g, '&#039;');
  };

  algolia.helpers = {
    formatNumber: function formatNumber(text, render) {
      return Number(render(text)).toLocaleString();
    },
    formattedPrice: function formattedPrice(text, render) {
      return formatPrice(render(text));
    },
    formattedPriceWithoutDecimals: function formattedPriceWithoutDecimals(
      text,
      render
    ) {
      return formatPrice(render(text)).replace(/\.\d+$/, '');
    },
    autocompletePrice: function autocompletePrice() {
      if (this._distinct) {
        var min = this.variants_min_price;
        var max = this.variants_max_price;
        if (min !== max) {
          return '<b>' + formatPrice(min) + ' - ' + formatPrice(max) + '</b>';
        }
      }
      return formattedPriceWithComparison(this.price, null);
    },
    instantsearchPrice: function instantsearchPrice() {
      {%comment%}{%- if settings.enable_sale_price_display -%}
      if (this.named_tags['{{ settings.sale_tag_prefix }}']) {
        var discount_amt = (1 - (this.named_tags['{{ settings.sale_tag_prefix }}']*0.01));
        return formattedPriceWithComparison(this.price * discount_amt, this.price, discount_amt);
      }
      {%- endif -%}{%endcomment%}
      if (this._distinct) {
        var min = this.variants_min_price;
        var max = this.variants_max_price;
        if (min !== max) {
          return '<b>' + formatPrice(min) + ' - ' + formatPrice(max) + '</b>';
        }
      }
      return formattedPriceWithComparison(
        this.price,
        this.compare_at_price,
        this.price_ratio
      );
    },
    instantsearchLink: function instantsearchLink() {
      var addVariantId = !this._distinct && this.objectID !== this.id;
      return (
        '/products/' +
        this.handle +
        (addVariantId ? '?variant=' + this.objectID : '')
      );
    },
    fullTitle: function fullTitle() {
      var res = this.title;
      if (
        !this._distinct &&
        this.variant_title &&
        this.variant_title !== 'Default Title' &&
        this.variant_title !== 'Default'
      ) {
        res += ' (' + this.variant_title + ')';
      }

      return escapeHtml(res);
    },
    fullHTMLTitle: function fullHTMLTitle() {
      var res = this._highlightResult.title.value;
      if (
        !this._distinct &&
        this.variant_title &&
        this.variant_title !== 'Default Title' &&
        this.variant_title !== 'Default'
      ) {
        res += ' <span class="algolia-variant">(' + res + ')</span>';
      }
      return res;
    },
    fullEscapedAttribute(attribute) {
      return new DOMParser().parseFromString(attribute, 'text/html')
        .documentElement.textContent;
    },
    fullEscapedHTMLTitle: function fullEscapedHTMLTitle() {
      var res = algolia.helpers.fullEscapedAttribute(
        this._highlightResult.title.value
      );
      if (
        !this._distinct &&
        this.variant_title &&
        this.variant_title !== 'Default Title' &&
        this.variant_title !== 'Default'
      ) {
        res += ' <span class="algolia-variant">(' + res + ')</span>';
      }
      return res;
    },
    fullEscapedHTMLProductType: function fullEscapedHTMLProductType() {
      return algolia.helpers.fullEscapedAttribute(
        this._highlightResult.product_type.value
      );
    },
    fullEscapedHTMLVendor: function fullEscapedHTMLVendor() {
      return algolia.helpers.fullEscapedAttribute(
        this._highlightResult.vendor.value
      );
    },
    floor: function floor(text, render) {
      return '' + Math.floor(Number(render(text)));
    },
    ceil: function ceil(text, render) {
      return '' + Math.ceil(Number(render(text)));
    },
    sizedImage: function sizedImage(text, render) {
      var image = this._distinct ? this.product_image : this.image;
      if (!image) {
        return 'http://cdn.shopify.com/s/images/admin/no-image-compact.gif';
      }
      var size = render(text).replace(/^\s+|\s+$/g, ''); // Render and trim
      if (size === 'original') {
        return image;
      }
      return image.replace(/\/(.*)\.(\w{2,4})/g, '/$1_' + size + '.$2');
    },
    handleize: function handleize (text, render) {
      return render(text).toLowerCase().replace(/[^\w\u00C0-\u024f]+/g, "-").replace(/^-+|-+$/g, "");
    },
    sizeBar: function sizeBar (text, render) {
      var res = '';
      var downcase_type = this.product_type.toLowerCase();
      if (downcase_type == 'dress' || downcase_type == 'blouse' || downcase_type == 'shirt' || downcase_type == 'adult t-shirt' || downcase_type == 'top' || downcase_type == 'childrens' || downcase_type == 'kids t-shirt' || downcase_type.indexOf('plus size') >= 0) {
        var sizes = this.named_tags.sizes || '';
        if (typeof sizes == 'string') sizes = [sizes];
        var kids_subtype = this.named_tags['kids-subtype'] || '';
        // WARNING: Any changes in the below logic must also be duplicated in snippets/product-item.liquid
        res += '<div class="ProductItem__SizeList">';
        if (this.tags.indexOf('sizes-pt-one-size') >= 0) {
          res += '<span class="size-one-size">ONE SIZE</span>';
        } else if (downcase_type == 'childrens' && (kids_subtype.indexOf('bloomer') >= 0 || kids_subtype.indexOf('little-boys') >= 0)) {
          res += '<span class="size-1t ' + (this.tags.indexOf('sizes-pt-1t') >= 0 ? '' : 'disabled') + '">1T</span>';
          res += '<span class="size-2t ' + (this.tags.indexOf('sizes-pt-2t') >= 0 ? '' : 'disabled') + '">2T</span>';
          res += '<span class="size-3t ' + (this.tags.indexOf('sizes-pt-3t') >= 0 ? '' : 'disabled') + '">3T</span>';
        } else if (downcase_type == 'childrens' && (kids_subtype.indexOf('girasol') >= 0 || kids_subtype.indexOf('carmen') >= 0 || this.tags.indexOf('kids-luisa-dress') >= 0)) {
          res += '<span class="size-1t ' + (this.tags.indexOf('sizes-pt-1t') >= 0 ? '' : 'disabled') + '">1T</span>';
          res += '<span class="size-2t ' + (this.tags.indexOf('sizes-pt-2t') >= 0 ? '' : 'disabled') + '">2T</span>';
          res += '<span class="size-3t ' + (this.tags.indexOf('sizes-pt-3t') >= 0 ? '' : 'disabled') + '">3T</span>';
          res += '<span class="size-4t ' + (this.tags.indexOf('sizes-pt-4t') >= 0 ? '' : 'disabled') + '">4T</span>';
        } else if (downcase_type == 'childrens' && kids_subtype.indexOf('florecita') >= 0) {
          res += '<span class="size-4t ' + (this.tags.indexOf('sizes-pt-4t') >= 0 ? '' : 'disabled') + '">4T</span>';
          res += '<span class="size-6y ' + (this.tags.indexOf('sizes-pt-y') >= 0 ? '' : 'disabled') + '">6Y</span>';
          res += '<span class="size-8y ' + (this.tags.indexOf('sizes-pt-8y') >= 0 ? '' : 'disabled') + '">8Y</span>';
          res += '<span class="size-10y ' + (this.tags.indexOf('sizes-pt-10y') >= 0 ? '' : 'disabled') + '">10Y</span>';
          res += '<span class="size-12y ' + (this.tags.indexOf('sizes-pt-12y') >= 0 ? '' : 'disabled') + '">12Y</span>';
        } else if (downcase_type == 'kids t-shirt') {
          res += '<span class="size-4t ' + (this.tags.indexOf('sizes-pt-4t') >= 0 ? '' : 'disabled') + '">4T</span>';
          res += '<span class="size-6y ' + (this.tags.indexOf('sizes-pt-6y') >= 0 ? '' : 'disabled') + '">6Y</span>';
          res += '<span class="size-8y ' + (this.tags.indexOf('sizes-pt-8y') >= 0 ? '' : 'disabled') + '">8Y</span>';
          res += '<span class="size-10y ' + (this.tags.indexOf('sizes-pt-10y') >= 0 ? '' : 'disabled') + '">10Y</span>';
          res += '<span class="size-12y ' + (this.tags.indexOf('sizes-pt-12y') >= 0 ? '' : 'disabled') + '">12Y</span>';
        } else if (downcase_type.indexOf('plus size') >= 0) {
          res += '<span class="size-1x ' + (this.tags.indexOf('sizes-pt-1x') >= 0 ? '' : 'disabled') + '">1X</span>';
          res += '<span class="size-2x ' + (this.tags.indexOf('sizes-pt-2x') >= 0 ? '' : 'disabled') + '">2X</span>';
        } else {
          res += '<span class="size-xs ' + (this.tags.indexOf('sizes-pt-extra-small') >= 0 ? '' : 'disabled') + '">XS</span>';
          res += '<span class="size-s ' + (this.tags.indexOf('sizes-pt-small') >= 0 ? '' : 'disabled') + '">S</span>';
          res += '<span class="size-m ' + (this.tags.indexOf('sizes-pt-medium') >= 0 ? '' : 'disabled') + '">M</span>';
          res += '<span class="size-l ' + (this.tags.indexOf('sizes-pt-large') >= 0 ? '' : 'disabled') + '">L</span>';
          res += '<span class="size-xl ' + (this.tags.indexOf('sizes-pt-extra-large') >= 0 ? '' : 'disabled') + '">XL</span>';
        }
        res += '</div>'
      }
      return res;
    },
    badges: function badges (text, render) {
      var shopify_asset_url_prefix = 'https://cdn.shopify.com/s/files/1/0241/7723/t/17/assets/';
      var res = '';
      if (this.tags.indexOf('in-stock') >= 0) {
        if (this.tags.indexOf('na') >= 0) {
          res += '<p class="ProductItem__Tag NewArrival h4"><img src="' + shopify_asset_url_prefix + 'logo-mark-mi-golondrina.svg" width="14" alt=""> New Arrival</p>';
        } else if (this.tags.indexOf('preorder') >= 0) {
          res += '<p class="ProductItem__Tag Preorder h4"><img src="' + shopify_asset_url_prefix + 'icon-lock.svg" width="14" alt="">  Preorder</p>';
        } else if (this.compare_at_price > this.price) {
          res += '<p class="ProductItem__Tag OnSale h4">On Sale</p>';
        }
      } else {
        res += '<p class="ProductItem__Tag SoldOut h4">Sold Out</p>';
      }
      return res;
    }
  };

  [
    'pico',
    'icon',
    'thumb',
    'small',
    'compact',
    'medium',
    'large',
    'grande',
    'original',
  ].forEach(function(size) {
    algolia.helpers[size + 'Image'] = (function(_size) {
      return function() {
        var image = this._distinct ? this.product_image : this.image;

        if (!image) {
          return 'http://cdn.shopify.com/s/images/admin/no-image-compact.gif';
        }

        if (_size === 'original') {
          return image;
        }

        return image.replace(/\/(.*)\.(\w{2,4})/g, '/$1_' + _size + '.$2');
      };
    })(size); // We need to create a new scope so that the internal size has the good value.
  });

  /* Create an Hogan lambda, which doesn't respect the mustache doc */
  var helpers = algolia.assign(
    {},
    algolia.helpers,
    algolia.translation_helpers
  );
  var helpersNames = Object.keys(helpers);
  var i = helpersNames.length;
  var helpersArray = new Array(i);
  while (i--) helpersArray[i] = [helpersNames[i], helpers[helpersNames[i]]];

  algolia.hoganHelpers = helpersArray.reduce(function(res, options) {
    var name = options[0];
    var helper = options[1];

    var newRes = algolia.assign({}, res);

    newRes[name] = function() {
      return function(text) {
        var render = function(value) {
          return Hogan.compile(value, algolia.hoganOptions).render(this);
        }.bind(this);

        return helper.call(this, text, render);
      }.bind(this);
    };

    return newRes;
  }, {});
})(window.algoliaShopify);
