<label class="[[ cssClasses.label ]] facet-[[# helpers.handleize ]][[ label ]][[/ helpers.handleize ]]">
  [[# type.disjunctive ]]
    <input type="checkbox" class="[[ cssClasses.checkbox ]]" [[# isRefined ]]checked[[/ isRefined ]]/>
  [[/ type.disjunctive ]]
  [[& label ]]
  <span class="[[ cssClasses.count ]]">
    [[# helpers.formatNumber ]]
      [[ count ]]
    [[/ helpers.formatNumber ]]
  </span>
</label>
